/*
body {
    max-width: 540px;
}
*/

#contents {
    max-width: 540px;
}

label[for="upload_button"] {
    color: #ffbb00;
    border: dashed;
    border-width: 2px;
}
button {
    background-color: #fff;
    color: #ffbb00;
    border-width: 1px;
    border-radius: 4px;
    border: solid 2px #ffbb00;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
    outline: 0;
}
button:active {
    border: solid 2px #ffbb00;
    background-color: #ffbb00;
    color: #fff;
}

.inputs {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.inputs > * {
    margin: 1px 3px;
    padding: 0px 5px;
}
.inputs textarea {
    min-width: 10em;
    min-height: 1em;
    max-width: 100em;
    max-height: 5em;
}

.article {
    color: #444;
    border: solid 1px #aaa;
    margin: 2px;
    padding: 5px;
}

.article .article_header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 3em;
}

.article .article_header span {
    padding-left: 10px;
}

.article .article_header .sender {
    display: inline;
}

.article .article_header .post_id {
    display: none;
}